.footer-top,
.footer-bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 50%);
	margin: 0 auto;
	max-width: 100%;
}

.greenhouse-img {
	grid-column: 1/1;

	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 0 -44.6vh;
	}
}
.sign-up {
	grid-column: 2/3;

	padding: 8dvh 8dvw 8dvh 8dvw;
	background-color: var(--coral);
}

.greenhouse-img,
.sign-up {
	/* grid-row: 1/1; */
	height: 50vh;
}

.footer-txt-1 {
	width: 30dvw;

	margin: 0 0 1rem 0;
	font-family: 'ClarendonURW-Reg', sans-serif;
	font-size: 2.625rem;
	line-height: 1.21;
	color: var(--off-white);
}

.footer-txt-2 {
	max-width: 83%;

	font-family: 'Work Sans', sans-serif;
	font-size: 1.5rem;
	line-height: 1.58;
	letter-spacing: -0.72px;
}

.sign-up-btn {
	min-width: 10rem;
	width: 16rem;

	margin-top: 1.5rem;

	font-family: 'ClarendonURW-Lig', sans-serif;
	font-size: 1.5rem;
	line-height: 2.54;
	text-align: center;
	color: var(--off-white);
	border: solid 3px var(--off-white);
}

.sign-up-btn:hover {
	color: var(--charcoal);
	border-color: var(--charcoal);
}
/* Bottom Footer */

.footer-bottom {
	/* padding: 145px 165px 135px 165px; */
	/* padding: 145px 10rem 0 10rem; */
	background-color: var(--charcoal);
}

.footer-txt-1,
.footer-txt-2,
.footer-txt-4,
.sign-up-btn,
.copyright,
.logo {
	color: var(--off-white);
}

.email,
.footer-txt-4,
.copyright,
.logo {
	font-family: 'Work Sans', sans-serif;
}

.footer-txt-3,
.subscribe-btn {
	font-family: 'ClarendonURW-Lig', sans-serif;
}

.subscribe,
.media {
	/* grid-row: 2/2; */
	/* margin: 145px 0 0 165px; */

	padding: 6.25rem;
	align-content: center;
	/* height: 100%; */
}

.terms-of-use {
	text-decoration: underline;
}

.copyright {
	width: 601px;
	padding: 16px 54px 17px 58px;
	height: 36px;
	/* margin: 40px 666px 0 0; */
	font-size: 0.88rem;
	line-height: 1.78;
	letter-spacing: -0.45px;
}

.footer-txt-3 {
	width: 566px;
	height: 117px;
	/* margin: 0 701px 21px 0; */
	font-size: 2.62rem;
	line-height: 1.21;
	color: var(--dark-pastel-green);
}

.email {
	width: 375px;
	height: 65px;
	margin: 20px 30px 0 0;
	padding: 0 0 0 19px;
	font-size: 1.5rem;
	background-color: var(--charcoal);
	border: solid 3px var(--off-white);
	color: var(--off-white);
	outline: none;
}

.email::placeholder {
	color: var(--off-white);
}

.subscribe-btn {
	width: 256px;
	height: 65px;
	font-size: 1.5rem;
	font-family: 'ClarendonURW-Lig', sans-serif;
	color: var(--charcoal);
	text-align: center;
	/* padding: 15px 68px 18px 69px; */
}

.footer-txt-4 {
	width: 510px;
	height: 65px;
	margin: 23px 0px 0px 0;
	font-size: 0.875rem;
	line-height: 1.43;
	letter-spacing: -0.35px;
}

.media {
	margin-left: auto;
}
.media-links {
	display: flex;
	min-width: 10vw;
	min-height: 15vh;
	align-content: space-evenly;
	gap: 2rem;

	& img:hover {
		filter: invert(45%) sepia(99%) saturate(3807%) hue-rotate(337deg)
			brightness(112%) contrast(99%);
	}
}
