/* .grid-footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	max-width: 100%;
} */

.footer-top,
.footer-bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	max-width: 100%;
}

.greenhouse-img {
	grid-column: 1/1;

	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 0 -44.6vh;
	}
}
.sign-up {
	grid-column: 2/3;

	padding: 93px 165px 105px 150px;
	background-color: var(--coral);
}

.greenhouse-img,
.sign-up {
	grid-row: 1/1;
	height: 50vh;
}

/* Bottom Footer */

.footer-bottom {
	padding: 145px 165px 135px;
	background-color: var(--charcoal);
}

.txt-1,
.txt-2,
.txt-4,
.sign-up-btn,
.copyright,
.logo {
	color: var(--off-white);
}

.email,
.txt-4,
.copyright,
.logo {
	font-family: 'Work Sans', sans-serif;
}

.txt-3,
.subscribe-btn {
	font-family: 'ClarendonURW-Lig', sans-serif;
}

.subscribe,
.media {
	grid-row: 2/2;
	height: 50vh;
}

.terms-of-use {
	text-decoration: underline;
}

.copyright {
	width: 601px;
	height: 36px;
	margin: 40px 666px 0 0;
	font-size: 0.88em;
	line-height: 1.78;
	letter-spacing: -0.45px;
}

.txt-3 {
	width: 566px;
	height: 117px;
	margin: 0 701px 21px 0;
	font-size: 2.62em;
	line-height: 1.21;
	color: var(--dark-pastel-green);
}

.txt-4 {
	width: 510px;
	height: 65px;
	margin: 23px 757px 18px 0;
	font-size: 0.875em;
	line-height: 1.43;
	letter-spacing: -0.35px;
}
