.grid-template {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0 auto;
	max-width: 100%;
}

.column-spread {
	grid-column: 1 / 5;
	grid-row: 1/1;
	max-height: 96vh;
}

.oak-img {
	grid-column: 1 / 4;
	max-height: 70vh;

	background-color: red;
}

.text-container,
.oak-img {
	grid-row: 2 / 2;
}

.oak-img img {
	height: 100%;
	width: 115%;
	object-position: -8.9vw;
	object-fit: cover;
}

.text-container {
	grid-column: 3 / -1;
	max-height: 96vh;
	/* padding: 13em 0 0 0; */
}

.title-phrase {
	text-transform: uppercase;
	max-width: 25%;
	height: 21px;
	margin: 155px 0 18px 165px;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.17;
	letter-spacing: 3.06px;

	color: var(--charcoal);
	& span {
		text-decoration: underline;
		text-underline-offset: 1.125em;
	}
}

.meetTeam {
	width: 681px;
	height: 288px;
	margin: 80px 0 0 165px;
	font-family: 'ClarendonURW-Lig', sans-serif;
	font-size: 98px;
	line-height: 1.08;
	letter-spacing: -0.88px;
	text-align: left;
	color: var(--dark-pastel-green);
}

.text-container {
	margin: 0 0 0 320px;

	& .text-1 {
		width: 684px;
		height: 120px;
		margin: 145px 0 5px 0;
		padding: 0 88px 0 0;
		font-family: 'ClarendonURW-Lig';
		font-size: 56px;
		line-height: 1.34;
		letter-spacing: normal;
		text-align: left;
		color: var(--blue-green);
	}

	& .text-2 {
		width: 510px;
		height: 228px;
		font-family: 'Work Sans', sans-serif;
		font-size: 24px;
		line-height: 1.58;
		letter-spacing: -0.72px;
		text-align: left;
		color: var(--gunmetal);
	}
}

.ultra-txt {
	border: 2px solid pink;
	grid-column: 1 / 6;
	min-height: 306px;

	& p {
		width: 780px;
		height: 306px;
		margin: 231px 975px 15px 165px;
		font-family: 'ClarendonURW-Lig;';
		font-size: 56px;

		line-height: 1.25;
		letter-spacing: -1.4px;
		text-align: left;
		color: var(--fern-green);
	}
}

.interested-txt {
	/* width: 495px; */
	grid-column: 1 / -5;
	height: 162px;
	margin: 71px 0 0 165px;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5em;

	line-height: 1.58;
	letter-spacing: -0.72px;
	text-align: left;
	color: var(--gunmetal);
}

.free-lettuce-btn {
	width: 369px;
	height: 65px;
	padding: 0 64px;
	background-color: var(--coral);

	& p {
		width: 242px;
		height: 33px;
		margin: 46px 0 0 0;
		font-family: 'ClarendonURW-Reg', sans-serif;
		color: var(--off-white);
		font-size: 24px;
		line-height: 2.79;
		text-align: center;
	}
}

.tomato-lettuce {
	grid-column: 2/6;
	/* width: 70vw; */

	& img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}
