.grid-template {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0 auto;
	max-width: 100%;
}

.column-spread {
	grid-column: 1 / 5;
	grid-row: 1/1;
	max-height: 96vh;
}

.oak-img {
	grid-column: 1 / 4;
	max-height: 96vh;

	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.text-container {
	grid-column: 3 / -1;
	max-height: 96vh;
	/* padding: 13em 0 0 0; */
}

.text-container,
.oak-img {
	grid-row: 2 / 2;
}

.title-phrase {
	text-transform: uppercase;
	max-width: 25%;
	height: 21px;
	margin: 155px 0 18px 165px;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.17;
	letter-spacing: 3.06px;

	color: var(--charcoal);
	& span {
		text-decoration: underline;
		text-underline-offset: 1.125em;
	}
}

.meetTeam {
	width: 681px;
	height: 288px;
	margin: 80px 0 0 165px;
	font-family: 'ClarendonURW-Lig', sans-serif;
	font-size: 98px;
	line-height: 1.08;
	letter-spacing: -0.88px;
	text-align: left;
	color: var(--dark-pastel-green);
}
