nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0% 5% 0 5%;
}

.logo {
	border: 20px solid pink;
}

.links {
	/* max-width: 40%; */
	display: flex;
	justify-content: space-between;
	gap: 1.5em;
	margin: 25px 0;

	& p {
		font-size: 1.15rem;
		font-family: 'Work Sans', sans-serif;
		font-weight: 500;
		line-height: 1.17;
		letter-spacing: -0.45px;

		color: var(--gunmetal);
	}
}
