.div-main {
	margin: 0 0 0 8.5%;
}
.community-headline {
	min-width: 10%;
	width: 100%;
	margin-bottom: 7%;
	font-family: 'Works Sans', sans-serif;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.17;
	letter-spacing: 3.06px;
	color: var(--charcoal);

	& span {
		text-decoration: underline;
		text-underline-offset: 1.125em;
	}
}

.smart-life {
	max-width: 38%;

	font-family: 'ClarendonURW-Lig', sans-serif;
	font-size: 6.25rem;
	line-height: 1.08;
	letter-spacing: -0.88px;
	color: var(--dark-pastel-green);
}

.endorsement-txt {
	max-width: 47dvw;
	margin: 0 auto;
	font-family: 'Work Sans', sans-serif;
	font-size: 2rem;
	line-height: 1.38;
	text-align: center;
	letter-spacing: -0.98px;
	color: var(--gunmetal);
	&::before {
		content: '“';
		display: block;
		font-family: 'ClarendonURW-Lig', sans-serif;
		height: 10rem;
		text-align: center;
		font-size: 10.875rem;
		color: var(--blue-green);
	}
	&::after {
		content: '”';
		font-family: 'ClarendonURW-Lig', sans-serif;

		font-size: 2rem;
		color: var(--gunmetal);
	}
}

.initials {
	max-width: 10%;
	margin: 0 auto;
	font-family: 'ClarendonURW-Lig', sans-serif;
	font-size: 2rem;
	font-weight: 600;
	line-height: 4.38;
	text-align: center;
	color: var(--blue-green);
}
