.div-main {
	margin: 0 0 0 8.5%;
}
.community-headline {
	min-width: 10%;
	width: 100%;
	margin-bottom: 7%;
	font-family: 'Works Sans', sans-serif;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.17;
	letter-spacing: 3.06px;
	color: var(--charcoal);

	& span {
		text-decoration: underline;
		text-underline-offset: 1.125em;
	}
}

.smart-life {
	max-width: 38%;

	font-family: 'ClarendonURW-Lig', sans-serif;
	font-size: 6.25rem;
	line-height: 1.08;
	letter-spacing: -0.88px;
	color: var(--dark-pastel-green);
}

.quote {
	width: 79px;
	height: 93px;
	margin: 0 356px 49px 357px;
	font-family: 'ClarendonURW-Lig';
	font-size: 174px;
	rotate: 180deg;
	line-height: 1.29;
	letter-spacing: -4.35px;
	text-align: center;
	color: var(--blue-green);
}
