/* .App {
  text-align: center;
} */


:root {
 
  /* Colors */

  --fern-green: #38864c;
  --dark-pastel-green: #57b35e;
  --beige: #f7ede4;
  --beige: #eddcbd;
  --blue-green: #008080;
  --windows-blue: #3c6ec3;
  --gunmetal: #4d6052;
  --light-moss-green: #93ce66;
  --charcoal: #242924;
  --coral: #fe4e48;
  --off-white: #fcfff5;
  --amethyst: #96c;


}

*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .ultra{
  font-family: 'Ultra';
} */

nav{

  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5% 0 5%;
  outline: 2px solid green;
  
  
}
.nav_bar{
  height: 10vh;
  width: 100vw;  
 
  background-color: #fcfff5;
  
  

}



.nav_links{
  
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;  */
}

.nav_links span{
  margin: auto 13px auto 13px;
  font-family: 'Work Sans', sans-serif;  
  /* font-size: 0.968vmax; */
  font-size: .968em;
  line-height: 1.17;
  letter-spacing: -0.45px;
  
  color: var(--charcoal);
  /* outline: 2px solid purple; */
}

.logo{
  border: 2px solid pink;

}
 

/* NEXT SECTION */


.flex_row{
  display: flex;
}

.tell_more_btn{

  min-width: 260px;
  min-height: 65px;
  margin: 36.5px 515.5px 0 128.4px;
  padding: 13px 52px 19px;
  border: solid 3px var(--coral);
  background-color: var(--coral);
 
}

.tell_me_more{
  width: 156px;
  height: 33px;
  font-family: 'ClarendonURW-Reg';
  font-size: 24px;
  line-height: 2.79;
  letter-spacing: -0.48px;
  /* text-align: center; */
  /* padding: auto auto; */
  color: var(--off-white);

}

.growing_uae{
  width: 927px;
  height: 317px;
  margin: 331px 152px 805px 166px;
  font-family: ClarendonURW-Lig;
  font-size: 74px;
  
  line-height: 1.15;
  letter-spacing: -1.85px;
  text-align: left;
  color: var(--fern-green);
}





































